- var environment = '@@environment'
- var microChats = { doubletap: null, hold: null }
if environment == "dev"
    - microChats.doubletap = "microChats.fake()"
    - microChats.hold = "microChats.reset()"

ion-refresher(pulling-text="Pull to refresh...", on-refresh="microChats.refresh()")

div.match-label(ng-if="matchLabel.loaded")
    div(ng-repeat="item in matchLabel.items")
        div.row.row-center.section(ng-if="item.type == 'section'")
            div.col.col-center.text-center
                | {{section.datetime | date : 'MMM yyyy'}}

        div.row.label(ng-if="item.type == 'label'", ui-sref="match.detail({id : item.id})")
            div.col.col-15.col-center.logo.text-center
                img.image(ng-src="{{item.homeClub.logo}}")
            div.col.col-25.col-center.name.text-center
                | {{item.homeClub.name}}
            div.col.col-20.col-center.detail.text-center
                div(ng-if="item.template == 'before'")
                    div.time
                        | {{item.startTime | date:'HH:mm'}}
                    div.date
                        | {{item.startTime | date:'dd MMM yyyy'}}
                div(ng-if="item.template == 'after'")
                    div.score
                        | {{item.homeClub.score}}-{{item.awayClub.score}}
                    div.date
                        | {{item.startTime | date:'dd MMM yyyy'}}
            div.col.col-25.col-center.name.text-center
                | {{item.awayClub.name}}
            div.col.col-15.col-center.logo.text-center
                img.image(ng-src="{{item.awayClub.logo}}")

div.microchats
    div.card.errorMessage(ng-if="microChats.errorMessage")
        div.item.item-text-wrap
            | {{microChats.errorMessage}}

    div.list.form(ng-if="isLoggedin", on-double-tap=microChats.doubletap, on-hold=microChats.hold)
        div.item.item-input-inset
            label.item-input-wrapper
                input(
                ng-model="microChats.message",
                ng-model-options="{ getterSetter: true }",
                ng-change="microChats.valid()",
                type="text",
                name="message",
                placeholder="Message",
                maxlength="1024"
                )
            button.button.button-send.button-small.button-positive(
            ng-disabled="!microChats.isPass"
            ng-click="microChats.submit()"
            ) Send

    div.submicrochats(ng-if="microChats.loaded", ng-class="{'fixlist' : isLoggedin}")
        div.nodata(ng-if="microChats.items.length == 0")
            div.row
                div.col.col-center.text-center
                    span Has no timeline.

        div(ng-repeat="item in microChats.items")
            div(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                div.space
                div.row.datetime
                    div.col.col-80.text-left
                        span(time-ago, datetime="{{item.publishedDate}}") {{item.publishedDate}}
                    div.col.col-20.text-right
                        button.button.button-me.button-small.button-light(ng-if="item.user.id == $root.user.id")
                            | Me

                div.cover(ng-if="item.image")
                    div.images
                        img(image-cache="{{item.image}}", width="100%", height="auto")

                div.detail(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                    div.col.subdetail
                        div.row.message
                            div.col
                                span {{item.message}}
                        div.row.footer
                            div.col.col-90.col-center
                                div.userbox
                                    img.photo(image-cache="{{item.user.profilePicture}}")
                                    span.name {{item.user.displayname}}
                            div.col.col-10.col-center(style="margin-left: -4px;")
                                //a.button.button-icon.icon.ion-android-share-alt.share(ng-click="share(item.message, '', '', '')")

ion-infinite-scroll(ng-if="microChats.next" on-infinite="microChats.loadNext()", distance="1%")
