- var environment = '@@environment'
- var microChats = { doubletap: null, hold: null }
if environment == "dev"
    - microChats.doubletap = "microChats.fake()"
    - microChats.hold = "microChats.reset()"

ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="microChats.refresh()")

div.match-label(ng-if="matchLabel.loaded")
    div(ng-repeat="item in matchLabel.items")
        div.row.row-center.section(ng-if="item.type == 'section'")
            div.col.col-center.text-center
                | {{section.datetime | moment:'MMM YYYY'}}

        div.row.label(ng-if="item.type == 'label'", ui-sref="match.detail({id : item.id})")
            div.col.col-15.col-center.logo.text-center
                img.image(ng-src="{{item.homeClub.logo}}")
            div.col.col-25.col-center.name.text-center
                | {{item.homeClub.name}}
            div.col.col-20.col-center.detail.text-center
                div(ng-if="item.template == 'before'")
                    div.time
                        | {{item.startTime | moment:'HH:mm'}}
                    div.date
                        | {{item.startTime | moment:'D MMM YYYY'}}
                div(ng-if="item.template == 'after'")
                    div.score
                        | {{item.homeClub.score}}-{{item.awayClub.score}}
                    div.date
                        | {{item.startTime | moment:'D MMM YYYY'}}
            div.col.col-25.col-center.name.text-center
                | {{item.awayClub.name}}
            div.col.col-15.col-center.logo.text-center
                img.image(ng-src="{{item.awayClub.logo}}")

div.microchats
    div.card.errorMessage(ng-if="microChats.errorMessage")
        div.item.item-text-wrap
            | {{microChats.errorMessage}}

    div.form(ng-if="isLoggedin", on-double-tap=microChats.doubletap, on-hold=microChats.hold)
        div.row.first
            div.col
                label.item-input-wrapper
                    textarea(
                    ng-model="microChats.message",
                    ng-model-options="{ getterSetter: true }",
                    ng-change="microChats.valid()",
                    maxlength="250",
                    name="message",
                    placeholder="{{'timeline_update.timeline.form.field.message' | trans}}",
                    )
        div.row(ng-if="!media.isImage")
            div.col.text-center
                button.button.button-icon.icon.ion-image(ng-click="media.openGallery()")
            div.col.text-center
                button.button.button-icon.icon.ion-camera(ng-click="media.openCamera()")
            div.col.text-center
            div.col.text-center
                button.button.button-positive(
                    ng-disabled="!microChats.isPass"
                    ng-click="microChats.submit()"
                ) {{'timeline_update.timeline.form.submit' | trans}}
        div.row(ng-if="media.isImage")
            div.col.text-center(ng-click="media.remove()")
                img.picture(
                ng-if="media.imageData",
                ng-src="{{media.imageData}}",
                )
                div.button-remove
                    i.icon.icon-remove.ion-close-circled
            div.col.text-center
                button.button.button-icon.icon.ion-image(ng-click="media.openGallery()")
            div.col.text-center
                button.button.button-icon.icon.ion-camera(ng-click="media.openCamera()")
            div.col.text-center
                button.button.button-positive(
                ng-disabled="!microChats.isPass"
                ng-click="microChats.submit()"
                ) {{'timeline_update.timeline.form.submit' | trans}}

    div.card.warningMessage(ng-if="isLoggedin")
        div.item.item-text-wrap
            | {{'common.warning' | trans}}

    div.submicrochats(ng-if="microChats.loaded", ng-class="{'fixlist' : isLoggedin}")
        div.nodata(ng-if="microChats.items.length == 0")
            div.row
                div.col.col-center.text-center
                    span {{'timeline_update.timeline.notfound' | trans}}

        div(ng-repeat="item in microChats.items")
            div(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                div.space
                div.row.datetime
                    div.col.col-80.text-left
                        span(time-ago, datetime="{{item.publishedDate}}") {{item.publishedDate}}
                    div.col.col-20.text-right
                        button.button.button-me.button-small.button-light(ng-if="item.user.me")
                            | {{'timeline_update.timeline.me' | trans}}

                div.cover(ng-if="item.image")
                    img.image(image-cache="{{item.image}}")

                div.detail(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                    div.col.subdetail
                        div.row.message
                            div.col
                                span {{item.message}}
                        div.row.footer
                            div.col.col-90.col-center
                                div.userbox
                                    img.photo(image-cache="{{item.user.profilePicture}}")
                                    span.name {{item.user.displayname}}
                            div.col.col-10.col-center(style="margin-left: -4px;")

ion-infinite-scroll(ng-if="microChats.next" on-infinite="microChats.loadNext()", distance="1%")
