- var environment = '@@environment'
- var login = { doubletap: null, hold: null }
- var step1 = { doubletap: null, hold: null }
- var step2 = { doubletap: null, hold: null }
if environment == "dev"
    - login.doubletap = "login.fake()"
    - login.hold = "login.reset()"
    - step1.doubletap = "step1.fake()"
    - step1.hold = "step1.reset()"
    - step2.doubletap = "step2.fake()"
    - step2.hold = "step2.reset()"

ion-modal-view.member-login
    ion-header-bar.bar-positive(align-title="center")
        div.buttons(ng-if="$root.isIOS")
            a.button.button-clear.icon-left(
            ng-class="{'ion-ios-arrow-left' : modal.leftButton == 'back', 'ion-ios-close-empty' : modal.leftButton == 'close'}",
            ng-click="back()"
            ) {{modal.leftButton == 'back' ? translate.back : ''}}
        h1.title {{modal.title}}
        div.buttons
            a.button.button-nav.button-icon.ion-ios-close-empty(ng-if="$root.isAndroid", ng-click="modal.hide()")

    ion-content.member-form
        ion-slide-box(delegate-handle="slider", show-pager="false")
            ion-slide(on-double-tap=login.doubletap, on-hold=login.hold)
                div.card.errorMessage(ng-if="login.errorMessage")
                    div.item.item-text-wrap
                        | {{login.errorMessage}}

                div.form
                    div.row
                        div.col.text-center
                            input(
                            ng-model="login.username",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="login.valid()",
                            type="text",
                            name="username",
                            placeholder="{{'member.login.form.field.username' | trans}}",
                            maxlength="128"
                            )
                    div.row
                        div.col.text-center
                            input(
                            ng-model="login.password",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="login.valid()",
                            type="password",
                            name="password",
                            placeholder="{{'member.login.form.field.password' | trans}}",
                            maxlength="128"
                            )
                div.submit
                    div.row
                        div.col.text-center
                            button.button.button-positive(
                            ng-disabled="!login.isPass"
                            ng-click="login.submit()"
                            ) {{'member.login.form.submit' | trans}}
                div.register(ng-click="goToRegisterStep1()")
                    div.row
                        div.col.text-center
                            | {{'member.register.link' | trans}}

            ion-slide(on-double-tap=step1.doubletap, on-hold=step1.hold)
                div.form
                    div.row
                        div.col.text-center
                            input(
                            ng-model="step1.email",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="step1.valid()",
                            type="text",
                            name="email",
                            placeholder="{{'member.register.form.field.email' | trans}}",
                            maxlength="128"
                            )
                    div.row
                        div.col.text-center
                            input(
                            ng-model="step1.password",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="step1.valid()",
                            type="password",
                            name="password",
                            placeholder="{{'member.register.form.field.password' | trans}}",
                            maxlength="128"
                            )
                    div.row
                        div.col.text-center
                            input(
                            ng-model="step1.confirmPassword",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="step1.valid()",
                            type="password",
                            name="confirmPassword",
                            placeholder="{{'member.register.form.field.confirm_password' | trans}}",
                            maxlength="128"
                            )
                div.submit
                    div.row
                        div.col.text-center
                            button.button.button-positive(
                            ng-disabled="!step1.isPass",
                            ng-click="step1.submit()"
                            ) {{'member.register.form.next' | trans}}

            ion-slide(on-double-tap=step2.doubletap, on-hold=step2.hold)
                div.form
                    div.card.errorMessage(ng-if="step2.errorMessage")
                        div.item.item-text-wrap
                            | {{step2.errorMessage}}

                    div.row
                        div.col.text-center
                            input(
                            ng-model="step2.firstname",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="step2.valid()",
                            type="text",
                            name="firstname",
                            placeholder="{{'member.register.form.field.firstname' | trans}}",
                            maxlength="128"
                            )
                    div.row
                        div.col.text-center
                            input(
                            ng-model="step2.lastname",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="step2.valid()",
                            type="text",
                            name="lastname",
                            placeholder="{{'member.register.form.field.lastname' | trans}}",
                            maxlength="128"
                            )
                    div.row.birthday
                        div.col.text-center
                            label {{'member.register.form.field.deta_of_birth' | trans}}
                            br
                            input(
                            date-picker,
                            ng-model="step2.birthday",
                            ng-model-options="{ getterSetter: true }",
                            ng-change="step2.valid()",
                            type="text",
                            name="birthday"
                            min="{{step2.date.min}}"
                            max="{{step2.date.max}}"
                            )
                div.submit
                    div.row
                        div.col.text-center
                            button.button.button-positive(
                            ng-disabled="!step2.isPass",
                            ng-click="step2.submit()"
                            ) {{'member.register.form.submit' | trans}}
