ion-refresher(pulling-text="Pull to refresh...", on-refresh="matchLabel.doRefresh()")

div.games-prediction
    div.match-label
        div.nodata(ng-if="matchLabel.sections.length == 0")
            div.space
            div.row
                div.col.col-center.text-center
                    div.text "ไม่มีข้อมูล"
        div(ng-repeat="section in matchLabel.sections")
            div.row.row-center.section
                div.logo
                    img.image(src="{{section.logo}}")
                div.league
                    | {{section.name}} {{section.datetime|date : 'yyyy'}}
            div.nodata(ng-if="section.items.length == 0")
                div.row
                    div.col.col-center.text-center
                        div.text
                            | {{ 'ui.t.games.nomatch'|trans }}
            div(ng-repeat="item in section.items")
                div.row.label
                    div.col-40.col-center.club
                        div.row
                            div.col.col-75.col-center.text-center
                                span.name.text-center {{item.homeClub.name}}
                            div.col.col-25.col-center
                                img.logo.-right(ng-src="{{item.homeClub.logo}}")

                    div.col-20.col-center.vs.-live(ng-if="item.isLive").detail.text-center
                        div.live
                            | {{ 'ui.t.games.live'|trans }}
                        div.time
                            | {{item.datetime | date:'HH:MM'}}

                    div.col-20.col-center.vs.-nextmatch(ng-if="!item.isLive").detail.text-center
                        div.time
                            | {{item.datetime | date:'HH:mm'}}
                        div.date
                            | {{item.datetime | date:'dd MMM yyyy'}}

                    div.col-40.col-center.club
                        div.row
                            div.col.col-25.col-center
                                img.logo(ng-src="{{item.awayClub.logo}}")
                            div.col.col-75.col-center.-left.text-center
                                div.name.text-center {{item.awayClub.name}}

                div.progress-bars
                    .row.row-center
                        .col-20.text-right.text
                            | {{item.leftValue}}%
                        .col.bars
                            .progressed(
                            ng-repeat="progress in item.progressData",
                            style="width:{{progress.value}}%;background-color:{{progress.color}}",
                            )
                                div(ng-if="progress.won")
                                    div(class="{{progress.status}}")
                        .col-20.text
                            | {{item.rightValue}}%


    div(ng-repeat="section in matchLabel.sections")
        div(ng-repeat="item in section.items")
            div(ng-if="item.handicap != null")
                div.handicap-bar Handicap
                    span.value {{item.handicap}}

    // MATCH-EVENT FOR CONNECT API
    //div.match-events(ng-if="matchEvents.activities.length > 0", id="match-events")
        div.line(id="match-events-line")

        div(ng-repeat="item in matchEvents.activities")
            div.row.row-center.killpadding
                div.col.col-center
                    div.text-right(ng-if="item.side == 'home'")
                        span.name(ng-if="item.actor") {{item.actor}}
                        img.image(
                        ng-if="item.icon"
                        ng-src="./img/icon/{{item.icon}}.png"
                        srcset="./img/icon/{{item.icon}}@2x.png 2x"
                        )
                        span.description(ng-if="item.description") {{item.description}}
                        span.time(ng-if="item.time") {{item.time}}
                div.col.col-10.col-center.text-center
                    div.dot.-normal(ng-if="item.dot == 'normal'")
                        i.icon.ion-record
                    div.dot.-halftime(ng-if="item.dot == 'halftime'")
                        i.icon.ion-record
                    div.dot.-large(ng-if="item.dot == 'large'")
                        i.icon.ion-ios-circle-filled
                div.col.col-center
                    div.text-left(ng-if="item.side == 'away'")
                        span.time(ng-if="item.time") {{item.time}}
                        span.description(ng-if="item.description") {{item.description}}
                        img.image(
                        ng-if="item.icon"
                        ng-src="./img/icon/{{item.icon}}.png"
                        srcset="./img/icon/{{item.icon}}@2x.png 2x"
                        )
                        span.name(ng-if="item.actor") {{item.actor}}

    // MATCH-EVENT FOR FAKE
    match-events(items="matchEvents.items")

    div(ng-repeat="item in matchEvents.items")
        div(ng-if="item.endmatch == true")
            div.end-match สิ้นสุดการแข่งขัน
                span.value 1-1
                span.subject ทายผลการแข่งขัน
                span.value 0
                span.subject คะแนน
                span.subject / ทายผลสกอร์
                span.value 0
                span.subject คะแนน

    .expand-collapse.game-collapse
        .container
            .row.row-center
                .col.col.section
                    .select(
                    ng-click!="active = !active",
                    ng-class!="{'collapsed': active, 'expanded': !active}"
                    )
                        | Select
                .col.col.section
                    .select(
                    ng-click!="active = !active",
                    ng-class!="{'collapsed': active, 'expanded': !active}"
                    )
                        | Select
                .col.col.section
                    .select(
                    ng-click!="active = !active",
                    ng-class!="{'collapsed': active, 'expanded': !active}"
                    )
                        | Select
            .row.desc
                .col.col.text-center Chonburi FC
                .col.col.text-center Draw
                .col.col.text-center Chonburi FC

        //.slides.prediction-content(ng-hide="active")
            .content
                .header(layout="row")
                    .arrow
                    .text ทายผลสกอร์
            .prediction-form(layout="row")
                .shadow

                md-input-container.home(flex)
                    input.point(type="number", aria-label="home")

                .score(flex="20") Score

                md-input-container.away(flex)
                    input.point(type="number", aria-label="away")

            button.prediction-submit(type="submit" ng-click="")
                .text ส่งเกมทายผลและทายสกอร์

//ion-infinite-scroll(ng-if="prediction.next" on-infinite="prediction.loadMore()", distance="5%")
