ion-view.feature-main
    ion-nav-title Feature
    //ion-nav-buttons(side="right")
    //    a.button.button-clear(ng-click="")
    //        i.icon.ion-android-more-vertical

    ion-content.content
        ion-refresher(pulling-text="Pull to refresh...", on-refresh="refresh()")

        div.profile
            div.row
                div.col.text-center
                    img.photo(ng-src="{{profile.item.photo}}")
            div.row
                div.col.text-center
                    span.name {{profile.item.name}}

        div.point
            div.row.row-center
                div.col.col-center
                    img.icon(src="./img/feature/icon/point.png", srcset="./img/feature/icon/point@2x.png 2x")
                    span.text เกมทายผลทายสกอร์
                    span.hightlight {{profile.item.point1 | number}} Pls
                    span.text เกมทาย11ตัวจริง
                    span.hightlight {{profile.item.point2 | number}} Pls

        div.menus
            div.row.row-center
                div.col.col-center.grid(ui-sref="live")
                    div.square
                        div.live
                            img.icon(
                            src="./img/feature/menu/live.png"
                            srcset="./img/feature/menu/live@2x.png 2x"
                            )
                            div.text Live

                div.col.col-center.grid(ui-sref="timeline-update.main")
                    div.square
                        img.icon(
                        src="./img/feature/menu/timeline_and_update.png"
                        srcset="./img/feature/menu/timeline_and_update@2x.png 2x"
                        )
                        span.text Timeline & Update

                div.col.col-center.grid(ui-sref="competition-table.main")
                    div.square
                        img.icon(
                        src="./img/feature/menu/competition_and_table.png"
                        srcset="./img/feature/menu/competition_and_table@2x.png 2x"
                        )
                        span.text Competition & Table

            div.row.row-center
                div.col.col-center.grid(ui-sref="ticket-membership.main")
                    div.square
                        img.icon(
                        src="./img/feature/menu/ticket_and_membership.png"
                        srcset="./img/feature/menu/ticket_and_membership@2x.png 2x"
                        )
                        span.text Ticket & Membership
                div.col.col-center.grid(ui-sref="games")
                    div.square
                        img.icon(
                        src="./img/feature/menu/games.png"
                        srcset="./img/feature/menu/games@2x.png 2x"
                        )
                        span.text Games
                div.col.col-center.grid(ui-sref="ranking.main")
                    div.square
                        img.icon(
                        src="./img/feature/menu/people_ranking.png"
                        srcset="./img/feature/menu/people_ranking@2x.png 2x"
                        )
                        span.text People Ranking
            div.row.row-center
                div.col.col-center.grid(ui-sref="#")
                    div.disable
                        img.icon(
                        src="./img/feature/menu/man_of_the_match.png"
                        srcset="./img/feature/menu/man_of_the_match@2x.png 2x"
                        )
                        span.text Man of the Match
                div.col.col-center.grid(ui-sref="#")
                    div.disable
                        img.icon(
                        src="./img/feature/menu/reward.png"
                        srcset="./img/feature/menu/reward@2x.png 2x"
                        )
                        span.text Reward
                div.col.col-center.grid(ui-sref="fanzone.main")
                    div.square
                        img.icon(
                        src="./img/feature/menu/fanzone.png"
                        srcset="./img/feature/menu/fanzone@2x.png 2x"
                        )
                        span.text Fanzone

            div.row.row-center
                div.col.col-center.grid(ui-sref="about-club.main")
                    div.about
                        img.icon(
                        src="./img/feature/menu/about_club.png"
                        srcset="./img/feature/menu/about_club@2x.png 2x"
                        )
                        div.text About club

        div.row.version
            div.col.text-right
                | version: {{version}}
