ion-view.feature-main
    ion-nav-title Feature
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-chevron-left(ng-click='back()')
            div.navbar.icon-logo

    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            div.navbar.icon-setting

    ion-content.content
        div.profile-view
            div.row
                div.col.text-center
                    img.photo(src='../img/feature/photo.png', srcset='../img/feature/photo@2x.png 2x')
            div.row
                div.col.text-center
                    span.name {{fullname}}

        div.point-view
            div.row.row-center
                div.col.col-center
                    img.icon(src='../img/feature/icon/point.png', srcset='../img/feature/icon/point@2x.png 2x')
                    span &nbsp;
                    span.plantext เกมทายผลทายสกอร์
                    span &nbsp;
                    span.hightlight {{point1}} Pls
                    span &nbsp;
                    span.plantext เกมทาย11ตัวจริง
                    span &nbsp;
                    span.hightlight {{point2}} Pls

        div.menu-view
            div.row.row-center
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon-live(src='../img/feature/menu/live.png',
                        srcset='../img/feature/menu/live@2x.png 2x')
                        span.plantext-live Live

                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/timeline_and_update.png',
                        srcset='../img/feature/menu/timeline_and_update@2x.png 2x')
                        span.plantext Timeline & Update

                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/competition_and_table.png',
                        srcset='../img/feature/menu/competition_and_table@2x.png 2x')
                        span.plantext Competition & Table

            div.row.row-center
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/ticket_and_membership.png',
                        srcset='../img/feature/menu/ticket_and_membership@2x.png 2x')
                        span.plantext Ticket & Membership
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/games.png',
                        srcset='../img/feature/menu/games@2x.png 2x')
                        span.plantext Games
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/people_ranking.png',
                        srcset='../img/feature/menu/people_ranking@2x.png 2x')
                        span.plantext People Ranking

            div.row.row-center
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/man_of_the_match.png',
                        srcset='../img/feature/menu/man_of_the_match@2x.png 2x')
                        span.plantext Man of the Match
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/reward.png',
                        srcset='../img/feature/menu/reward@2x.png 2x')
                        span.plantext Reward
                div.col.col-center.col-grid.button.button-clear
                    div.square
                        img.icon(src='../img/feature/menu/fanzone.png',
                        srcset='../img/feature/menu/fanzone@2x.png 2x')
                        span.plantext People Fanzone

