ion-view.games
    ion-nav-title
        | {{ 'ui.t.games.title'|trans }}

    ion-nav-buttons(side="left")
        a.button.button-icon.ion-ios-arrow-left(ng-if="isIOS", ng-click="back()")
            img.logo(
                src="./img/logo/navbar.png"
                srcset="./img/logo/navbar@2x.png 2x"
            )

    //ion-nav-buttons(side="right")
    //    a.button.button-clear(ng-click="")
    //        i.icon.ion-android-more-vertical

    ion-content.content
        ion-refresher(pulling-text="Pull to refresh...", on-refresh="data.doRefresh()")

        div.cover(ng-if="cover.image")
            div.images
                img(image-cache="{{cover.image}}", width="100%", height="auto")

        div.games-detail
            div.row
                div.col.text.text-center
                    | {{ 'ui.t.games.detail'|trans }}

        div.match-label
            div.nodata(ng-if="matchLabel.sections.length == 0")
                div.space
                div.row
                    div.col.col-center.text-center
                        div.text
                            | {{ 'ui.t.games.nomatch'|trans }}
            div(ng-repeat="section in matchLabel.sections")
                div.row.row-center.section
                    div.logo
                        img.image(src="{{section.logo}}")
                    div.league
                        | {{section.name}} {{section.datetime|date : 'yyyy'}}
                    div.gameweek
                        | &nbsp; gameweek\#{{section.week}}
                div.nodata(ng-if="section.items.length == 0")
                    //div.space
                    div.row
                        div.col.col-center.text-center
                            div.text
                                | {{ 'ui.t.games.nomatch'|trans }}
                div(ng-repeat="item in section.items")
                    div.row.label(ui-sref="games-detail.main")
                        div.col-40.col-center.club
                            div.row
                                div.col.col-75.col-center.text-center
                                    span.name.text-center {{item.homeClub.name}}
                                div.col.col-25.col-center
                                    img.logo.-right(ng-src="{{item.homeClub.logo}}")

                        div.col-20.col-center.vs.-live(ng-if="item.isLive").detail.text-center
                            div.live
                                | {{ 'ui.t.games.live'|trans }}
                            div.time
                                | {{item.datetime | date:'HH:MM'}}

                        div.col-20.col-center.vs.-nextmatch(ng-if="!item.isLive").detail.text-center
                            div.time
                                | {{item.datetime | date:'HH:mm'}}
                            div.date
                                | {{item.datetime | date:'dd MMM yyyy'}}

                        div.col-40.col-center.club
                            div.row
                                div.col.col-25.col-center
                                    img.logo(ng-src="{{item.awayClub.logo}}")
                                div.col.col-75.col-center.-left.text-center
                                    div.name.text-center {{item.awayClub.name}}

                    div.space(ng-if="!item.isLive")

                    div(ng-if="item.isLive")
                        .progress-bars
                            .row.row-center
                                .col-20.text-right.text
                                    | {{item.leftValue}}%
                                .col.bars
                                    .progressed(
                                    ng-repeat="progress in item.progressData",
                                    style="width:{{progress.value}}%;background-color:{{progress.color}}",
                                    )
                                        div(ng-if="progress.won")
                                            div(class="{{progress.status}}")
                                .col-20.text
                                    | {{item.rightValue}}%

                div.footer-section
